@import "../../styles/variable.scss";
.input {
  &__text {
    padding: 8px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid $disabled_gray;
    background-color: $gray;
    padding: 10px;
    font-size: 16px;
    width: 300px;
    /*  border-top-left-radius: 10px; */
    &:active,
    &:hover,
    &:focus {
      outline: 0;
      outline-offset: 0;
    }
    &:focus {
      border: none;
      border-bottom: 1px solid $primary_color;
    }
  }
}
